style
*{
    margin: 0%;
    padding: 0%;
}
html{
    background-color: black;
}
body{
    width: 1000px;
    height: 950px;
    background-color: white;
    margin: auto;
}
nav{
    width: 1000px;
    height: 100px;
    background-color: green;
}
section#caja1{
    width: 150px;
    height: 75px;
    margin: 10px;
    margin-left: 100px;
    float: left;
    background-color: white;
    text-align: center;
    
    
}
section#caja2{
    width: 150px;
    height: 75px;
    margin: 10px;
    float: left;
    background-color: white;
    text-align: center;
    
}
section#caja3{
    width: 150px;
    height: 75px;
    margin: 10px;
    float: left;
    background-color: white;
    text-align: center;
    
}
section#caja4{
    width: 150px;
    height: 75px;
    margin: 10px;
    float: left;
    background-color: white;
    text-align: center;
    
}
section#caja5{
    width: 150px;
    height: 75px;
    margin: 10px;
    float: left;
    background-color: white;
    text-align: center;
    
}
header{
    height: 300px;
    background-color: blue;
}
section#banner{
    width: 800px;
    height: 280px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
section#logo{
    width: 150px;
    height: 80px;
    background-color: white;
    float: right;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
section#login{
    width: 150px;
    height: 80px;
    background-color: white;
    float: right;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
section#form{
    width: 150px;
    height: 80px;
    background-color: white;
    float: right;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
}
main{
    width: 1000px;
    height: 500px;
    background-color: brown;
}
aside#aside0{
    width: 200px;
    height: 480px;
    margin-left: 10px;
    background-color: white;
    float: left;
    margin-top: 10px;
}
article{
    width: 500px;
    margin-left: 10px;
    height: 480px;
    background-color: white;
    float: left;
    margin-top: 10px;

}
aside#aside1{
    width: 250px;
    margin-left: 10px;
    height: 480px;
    background-color: white;
    float: left;
    margin-top: 10px;
}
footer{
    height: 50px;
    background-color: yellow;
}