html,body{
    height: 100%;

}
header{
    display: block;
    background: turquoise;
    padding: 10px 0px;
}
section{
    width: 79%;
    background: #ccc;
    float: left;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 60px;
}
aside{
    float: right;
    border: 1px solid red;
    width: 19%;
}
footer{
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding: 5px 0px;
    clear: both;
    background: turquoise;
    color: #ccc;
}
figure{
    display: table; margin: 0 auto;
} 